name: Deploy
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Sync
        run: |
          curl -X POST "https://voila-api.mmopro.in/sync-app" \
            -H "Content-Type: application/json" \
            -d '{"app":"diffbot3000-1770231549698","repo":"https://github.com/BharatSharma34/diffbot3000-1770231549698.git","github_token":"${{ secrets.PRIVATE_GITHUB_TOKEN }}"}'